body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://media.istockphoto.com/id/1218339860/pt/foto/blank-template-of-celsius-and-fahrenheit-thermometer-on-red-background-with-high-temperature.jpg?s=1024x1024&w=is&k=20&c=_v68Nzgfpd9kfXABr3tM-iurtO4iwTzItOwEz44MF4w=");
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 350px;
  }
  